@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<PortfolioProjectNight.Models.Contact>

@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Admin/Index.cshtml";
    int count = 0;
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Gönderen</th>
        <th>Email</th>
        <th>Kategori</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Durum</th>
        <th>Mesajı Aç</th>
        <th>Mesajı Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        string badgeClass = "";
        switch (item.Category.CategoryId)
        {
            case 1:
                badgeClass = "badge bg-danger";
                break;
            case 2:
                badgeClass = "badge bg-success";
                break;
            case 3:
                badgeClass = "badge bg-primary";
                break;
            case 4:
                badgeClass = "badge bg-warning";
                break;
            case 5:
                badgeClass = "badge bg-danger";
                break;
            case 6:
                badgeClass = "badge bg-success";
                break;
            case 7:
                badgeClass = "badge bg-primary";
                break;
            case 8:
                badgeClass = "badge bg-warning";
                break;
            default:
                badgeClass = "badge bg-dark";
                break;
        }

        <tr>
            <td>@count</td>
            <td>@item.NameSurname</td>
            <td>@item.Email</td>
            <td><span class="@badgeClass p-2" style="color:white; font-size: small">@item.Category.CategoryName</span></td>
            <td>@item.Subject</td>
            <td>@item.SendDate</td>

            @if (item.IsRead == false)
            {

                <td><a href="/Message/ChangeMessageStatusToTrue/@item.ContactId" class="btn btn-info">Okundu Olarak İşaretle</a></td>
            }
            else
            {
                <td><a href="/Message/ChangeMessageStatusToFalse/@item.ContactId" class="btn btn-dark">Okunmadı Olarak İşaretle</a></td>
            }

            <td><a href="/Message/MessageDetail/@item.ContactId" class="btn btn-warning">Mesajı Aç</a></td>
            <td><a href="/Message/DeleteMessage/@item.ContactId" class="btn btn-danger">Mesajı Sil</a></td>
        </tr>
    }
</table>
<br />
<br />
@Html.PagedListPager((IPagedList)Model, p => Url.Action("Inbox", new { p }), new PagedListRenderOptions
{
    LiElementClasses = new List<string>
    { "page-link"}
})
<br />
<br />

<a href="/Category/CategoryList/" class="btn btn-success">Kategori İşlemleri</a>