@model List<PortfolioProjectNight.Models.Admin>
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Ayarlar</h2>


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Email</th>
        <th>Telefon Numarası</th>
        <th>Kullanıcı Adı</th>
        <th>Şifre</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AdminId</td>
            <td>@item.NameSurname</td>
            <td>@item.Email</td>
            <td>@item.Phone</td>
            <td>@item.UserName</td>
            <td>@item.Password</td>
            <td><a href="/Settings/UpdateSettings/@item.AdminId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
    </table>